<h1>Login!</h1>
<div id="container">
  <form method="POST">
    <input type="email" name="email" />
    <input type="password" name="password" />
    <input type="submit" value="Login!" />
</div>
</form>