<%- include('./partials/header.ejs') %>

<div id= "container" text-align="center">
<a href="reporting/morning">Report morning</a><br />
<a href="reporting/evening">Report evening</a>
</div>

<%- include('./partials/footer.ejs') %>